<h1><%= @place["name"] %></h1>

<ul>
  <% for entry in @entries %>
    <li>
      </a> <%= entry["title"] %>,
        <%= entry["posted_on"] %>, <%= entry["description"] %>
      </a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/new?place_id=<%= @place["id"] %>">New Post</a>
</p>
